/* Importing Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Navigation */

nav {
  padding: 20px 30px;
  background: #fd866d;
  color: #ecf0f1;
  display: flex;
  align-items: center;
}

nav .logo {
  padding-right: 12px;
}

nav a {
  color: #ecf0f1;
  text-transform: uppercase;
}

nav a .logo-text {
  font-weight: 600;
}

nav h2 {
  color: #ecf0f1;
}

nav img {
  height: 24px;
}

.nav-item {
  padding-left: 60px;
}

/* Headings */

h1, h2{
  font-weight: 400;
}

h3 {
  color: #2c3e50;
  padding: 8px;
}

/* Hero-related items */

.hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.2)), url('../assets/hero-image.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  /* opacity: 0.5; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .hero-text {
  text-align: center;
  padding: 18px;
}

/* General use selectors */
.row {
  display: flex;
  padding: 15px 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.col-6 {
  width: calc(100%/(12/6));
  margin: 10px;
}

.btn {
  border: none;
  background-color: rgba(0, 161, 197, 0.8);
  color: #ecf0f1;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
}

.btn.centered{
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 12px;
  background: #fd866d;
  color: #ecf0f1;
}

body {
  height: 100VH;
  background: #fff;
}

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}