
.zoo-container {
  display: flex;
  justify-content: center;
  flex-direction:column;
}
.zoo-container h1{
  text-align: center;
}
.zoo-container p{
  text-align: center;
}

.zoo-container img {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid rgb(0, 73, 168);
  padding: 30px;
}

.margin-30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-15{
  margin-top: 30px;
  margin-bottom: 30px;
}

.zoo-container img:hover {
  cursor: pointer;
}

* {
  margin: 0;
}