.blue-border {
  border: 6px solid #00A1C5
}

.cart-thumbnail {
  /* height: 160px; */
  width: 160px;
  border: 4px solid #00A1C5;
  margin-right: 12px;
}
.item-pricing p {
  text-align: right;
  font-size: 24px;
}

.item-pricing a {
  text-align: right;
  color: #00A1C5;
  font-size: 16px;
}

.item-pricing select{
  vertical-align: middle;
}

#bottles {
  width: 20px;
}